---
import { userActiveSession } from 'src/db/queries/getActiveSessions';

const userId = await Astro.session?.get('userId');
const activeSession = userId ? await userActiveSession(userId) : undefined;
---

{
  !userId && (
    <a href="/login" class="button">
      LOGGA IN
    </a>
  )
}

{
  userId && activeSession && (
    <a href={`/scoring/${activeSession.id}`} class="button">
      FORTSÄTT
    </a>
  )
}

{
  userId && !activeSession && (
    <a href="/scoring/new" class="button">
      NY RUNDA
    </a>
  )
}
