---
import { eq } from 'drizzle-orm';
import { db } from 'src/db';
import scoringSessions from 'src/db/schema/session';
import ScoringCard from './ScoringCard.astro';

const userId = Astro.cookies.get('activeUserId');

const activeSessions = userId
  ? await db
      .select()
      .from(scoringSessions)
      .where(eq(scoringSessions.ownerId, userId.value))
      .limit(1)
  : [];

const activeSession = activeSessions[0];
---

{!userId && <a href="/login">LOGGA IN</a>}

{activeSession && <ScoringCard sessionId={activeSession.id} />}

{
  userId && !activeSession && (
    <a href="/scoring/new" class="button">
      Starta ny runda
    </a>
  )
}
