---
import { eq } from 'drizzle-orm';
import db from 'src/db';
import scoringSessions from 'src/db/schema/scoring_sessions';
import ScoringCard from './ScoringCard.astro';

const userId = await Astro.session?.get('userId');

const activeSessions = userId
  ? await db.select().from(scoringSessions).where(eq(scoringSessions.ownerId, userId)).limit(1)
  : [];

const activeSession = activeSessions[0];
---

{
  !userId && (
    <a href="/login" class="button">
      LOGGA IN
    </a>
  )
}

{
  activeSession && (
    <a href={`/scoring/${activeSession.id}`} class="button">
      Fortsätt runda
    </a>
  )
}

{
  userId && !activeSession && (
    <a href="/scoring/new" class="button">
      Starta ny runda
    </a>
  )
}
