---
import Layout from '../../layouts/Layout.astro';

export const prerender = true;
---

<Layout title="Ledartavla">
  <main>
    <h2>Ledartavla</h2>

    <div id="links" class="skeleton-box" style="width:100%;height:40px;"></div>
  </main>
</Layout>
