---
export interface Props {
  name: string;
  firstNameOnly?: boolean;
  shortName?: boolean;
  textOnly?: boolean;
  fontSize?: string;
}

const { name, firstNameOnly, shortName, textOnly, fontSize } = Astro.props;

const names = name.split(' ');
let nameString = name;
if (firstNameOnly) {
  nameString = names[0];
} else if (shortName) {
  nameString = `${names[0]} ${names[1].substring(0, 1)}`;
}
---

{textOnly ? nameString : <span>{nameString.toLocaleUpperCase()}</span>}
