---
export interface Props {
  players: LeaderboardItem[];
}

const { players } = Astro.props;
const totalFines = players.map((player) => player.totalFines).reduce((a, b) => a + b, 0);
---

<h5>Total böter: {totalFines} kr</h5>
