---
export interface Props {
  special: boolean;
}

const { special } = Astro.props;
---

<div
  style={{
    display: 'flex',
    flexDirection: 'row',
    justifyContent: 'space-around',
    paddingTop: '12px',
    paddingRight: '8px',
    marginLeft: 'auto',
    gap: '4px',
  }}>
  <span>SLAG</span>
  <span>POÄNG</span>
  <span>HÅL</span>
  <span>+/-</span>
  {!special && <span>💸</span>}
</div>
