---
import Row from './Row.astro';

export interface Props {
  course: Course;
}

const { course } = Astro.props;
---

<div class="courserow">
  <strong>{course.name.toUpperCase()}</strong>
  <div>
    <span>PAR {course.par}</span>
    <span>{course.holes_count} HÅL</span>
  </div>
  <span>{course.club}</span>
</div>

<style>
  .courserow {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
    font-size: 0.8rem;
  }
</style>
