---
import Pill from './Pill.astro';

export interface Props {
  live?: boolean;
  special: boolean;
  teamEvent: boolean;
  strokes: boolean;
  noMargin?: boolean;
  small?: boolean;
}

const { live, special, teamEvent, strokes, noMargin = false, small = false } = Astro.props;
---

<div class="pills">
  {live && <Pill text="LIVE" />}
  {
    special && (
      <>
        <Pill text="SPECIAL" />
        {teamEvent && <Pill text="LAG"/>}
      </>
    )
  }
  <Pill text={strokes ? 'SLAG' : 'POÄNG'} />
</div>


<style>
  div.pills {
    float: right;
  }
</style>
