---
export interface Props {
  text: string;
}
const { text } = Astro.props;

const switchText = text.toLowerCase().trim();
---

<div class="pill">
  {text}
</div>


<style>
  div.pill {
    font-size: 12px;
    padding: 4px 6px;
    font-family: monospace;
    background: #f2e2a4;
    text-transform: uppercase;
    margin-left: 4px;
    float: left;
  }
</style>
