---
import Layout from '../layouts/Layout.astro';
import { createClient } from '@supabase/supabase-js';
import Leaderboard from '../components/Leaderboard.astro';
import ActiveSession from '../components/ActiveSession.tsx';

export const prerender = true;

const supabase = createClient(import.meta.env.SUPABASE_URL, import.meta.env.SUPABASE_KEY);

// async function getLeaderboard() {
//   return supabase
//     .from('leaderboard')
//     .select(
//       `id,
//       points,
//       average,
//       beers,
//       fines,
//       events,
//       points_array,
//       special_array,
//       rank,
//       fines_rank,
//       player:profiles(id, full_name, avatar_url)
//       `
//     )
//     .throwOnError();
// }

async function getMetaData() {
  return supabase.from('season').select().eq('name', '2023').limit(1).single().throwOnError();
}

// const { data } = await getLeaderboard();
const { data: meta } = await getMetaData();
---

<Layout title="Tisdagsgolfen">
  <header class="header">
    <ActiveSession client:only="react" />
  </header>
  <main class="main">
    <div class="list">
      <div class="list__header">
        <h5>Ledartavla {meta ? `efter ${meta.event_count} veckor` : ''}</h5>
        <h1>Tisdagsgolfen 2023</h1>
      </div>
      <!-- {data && <Leaderboard data={data} />} -->
    </div>
  </main>
</Layout>
