---
import Layout from "../layouts/Layout.astro";
import SeasonInfo from "../components/SeasonInfo.astro";
---

<Layout title="Tisdagsgolfen">
  <h1>Tisdagsgolfen</h1>
  <main id="main">
    <SeasonInfo server:defer />
    <h2>Jobbar på't!</h2>

    <a href="/play">Play</a>
  </main>
</Layout>
