---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import Leaderboard from '../components/Leaderboard.astro';

import { getEvents } from '../utils/getEvents';
import { getSeason } from '../utils/getSeason';
import ActiveSessionCard from '../components/ActiveSessionCard.tsx';

const season = await getSeason('2024');
const eventsData = await getEvents(season?.data?.id || 0);
const events = eventsData?.data as TourEvent[];
---

<Layout title="Tisdagsgolfen">
  <main class="main">
    <ActiveSessionCard client:only="react" />
    <div class="list">
      <div class="list__header">
        <h5>Ledartavla efter {events.length} veckor</h5>
        <h1>Tisdagsgolfen 2024</h1>
      </div>
      <Leaderboard events={events} />
    </div>
  </main>
</Layout>
