---
import { db } from "../db";
import Layout from "../layouts/Layout.astro";

const seasons = await db.query.seasons.findMany();
---

<Layout title="Tisdagsgolfen">
  <h1>Tisdagsgolfen {seasons[0].name}</h1>
  <main id="main">
    <h2>Jobbar på't!</h2>
  </main>
</Layout>
