---
import Layout from '../layouts/Layout.astro';
import Scoring from '../components/Scoring.astro';
---

<Layout title="Tisdagsgolfen">
  <h1>Tisdagsgolfen</h1>
  <main id="main">
    <section>
      <h2>Ledartavla kommer här...</h2>
    </section>
    <aside>
      <h3>Scoring Session:</h3>
      <Scoring server:defer>
        <div slot="fallback">Startar golfbilarna...</div>
      </Scoring>
    </aside>
  </main>
</Layout>

<style>
  #main {
    display: flex;
    flex-direction: column;
  }

  section {
    height: 50vh;
    background-color: #eee;
    padding: 20px;
  }

  aside {
    flex: 1;
    padding: 40px 0;
  }
</style>
