---
import type { ScoringSession } from '../utils/types';

export interface Props {
  scoringSessions?: ScoringSession[];
  userId: string;
}

const { scoringSessions, userId } = Astro.props;

const ownedScoringSession = scoringSessions.find((sesh) => sesh.owner_id === userId);
const hasFinishedSession = ownedScoringSession && ownedScoringSession.state === 'PENDING';
const scoringSession = ownedScoringSession || scoringSessions[0];
---

<div style={{ padding: '12px', display: 'flex', gap: 10, float: 'right', maxWidth: '200px' }}>
  {
    ownedScoringSession && (
      <a href={`/scoring/${ownedScoringSession.id}`} class="btn">
        FORTSÄTT RUNDA
      </a>
    )
  }
  {
    !ownedScoringSession && (
      <>
        <a href="/sessions/new">
          <button class="btn">SPELA</button>
        </a>

        {scoringSessions.length > 0 && <a href="/scoring/leaderboard">FÖLJ AKTIV</a>}
      </>
    )
  }
</div>
