---
import { eq } from 'drizzle-orm';
import { db } from '../db';
import scoringSessions from '../db/schema/session';

const start = Date.now();

const userId = Astro.cookies.get('activeUserId');

const sessions = userId
  ? await db.query.sessions.findFirst({
      where: eq(scoringSessions.ownerId, userId.value)
    })
  : null;

const elapsed = Date.now() - start;
if (elapsed < 500) {
  await new Promise((resolve) => setTimeout(resolve, 500 - elapsed));
}
---

{!userId && <a href="/login">LOGGA IN</a>}
{sessions && <a href=`/scoring/${sessions.id}`>Fortsätt pågående runda</a>}
{userId && !sessions && <a href="/newsession">Starta ny runda</a>}
