---
import { db } from "../db";
import fs from "fs";
import season from "../db/schema/season";

const dbUrl = process.env.DATABASE_URL;
console.log("dbUrl", dbUrl);

if (!dbUrl) {
  console.error("DATABASE_URL is not set");
  throw new Error("DATABASE_URL is not set");
}

// check if the file exists
if (fs.existsSync(dbUrl)) {
  console.log("File exists");
} else {
  console.error("File does not exist");
}

const seasons = await db.query.seasons.findMany();
console.log(seasons);

const res = await db.insert(season).values({
  name: "2024",
});

console.log(res);

---

<div>
  {seasons && seasons.length > 0 ? seasons[0]?.name : "NO DATA"}
</div>
