---
import { db } from "../db";
import fs from "fs";
import season from "../db/schema/season";

await db.insert(season).values({
  name: "2024",
});

const seasons = await db.query.seasons.findMany();
console.log(seasons);
console.log(seasons[0]);
console.log(process.env.DATABASE_URL);

// check if the file exists
if (fs.existsSync(process.env.DATABASE_URL!)) {
  console.log("File exists");
} else {
  console.error("File does not exist");
}

---

<div>
  {seasons && seasons.length > 0 ? seasons[0]?.name : "NO DATA"}
</div>
