---
import { db } from '../db';
await new Promise((resolve) => setTimeout(resolve, 1000));
const seasons = await db.query.seasons.findMany();
---

<div class="scoring-session">
  Leaderboard for {seasons && seasons.length > 0 ? seasons[0]?.name : 'NO DATA'}
</div>
