---
import { getActiveSessions } from '../utils/getActiveSessions';

const sessions = await getActiveSessions();
let userId: string | null = null;
if (Astro.cookies.has('sb-user-id')) {
  userId = Astro.cookies.get('sb-user-id')?.value || null;
}

const ownedScoringSession = userId
  ? sessions?.data?.find((sesh) => sesh.owner_id === userId)
  : null;
const hasFinishedSession = ownedScoringSession && ownedScoringSession.state === 'PENDING';
const scoringSession = ownedScoringSession || (sessions && sessions.data ? sessions.data[0] : null);
---

<div>
  <h5>AKTIV RUNDA</h5>
  {
    scoringSession && (
      <div>
        {scoringSession.course?.name.toUpperCase()}

        <div>
          <a href={`/leaderboard/${scoringSession.id}`}>
            <div>LEDARTAVLA</div>
          </a>
        </div>
      </div>
    )
  }
</div>
