---
export interface Props {
  players: LeaderboardItem[];
}

const { players } = Astro.props;
const totalFines = players.map((player) => player.totalFines).reduce((a, b) => a + b, 0);
---

<div style="margin-top: 20px; padding: 20px;">
  <h2 style="font-size: 18px;">Total böter: {totalFines} kr</h2>
</div>
