---
export interface Props {
  special: boolean;
}

const { special } = Astro.props;
---

<div>
  <span>SLAG</span>
  <span>POÄNG</span>
  <span>HÅL</span>
  <span>+/-</span>
  {!special && <span>💸</span>}
</div>
