---
import Beers from '../../Shared/Beers.astro';
import Ciders from '../../Shared/Ciders.astro';
import Name from '../../Shared/Name.astro';
import ToPar from '../../Shared/ToPar.astro';

export interface Props {
  scorecard: Scorecard | ScorecardWithRank;
  specialEvent: boolean;
}

const { scorecard, specialEvent } = Astro.props;

const hasRank = (scorecard as ScorecardWithRank).rank !== undefined;
---

<div>
  {hasRank && <span>{(scorecard as ScorecardWithRank).rank}</span>}
  <div>
    {
      scorecard.players.map((p) => (
        <div>
          <Name name={p.player.full_name || ''} firstNameOnly />
          <Beers beers={p.beers || 0} />
          <Ciders ciders={p.ciders || 0} />
        </div>
      ))
    }
  </div>
  <div>
    <span>{scorecard.strokes}</span>
    <span>{scorecard.points}</span>
    <span>{scorecard.through}</span>

    <ToPar to_par={scorecard.to_par || 0} />

    {!specialEvent && <span>{scorecard.players.reduce((a, b) => a + b.fines!, 0)}</span>}
  </div>
</div>
