---
import { Head } from 'astro-capo';
// import { AstroFont } from 'astro-font';
export interface Props {
  title: string;
}

const { title } = Astro.props;
import '../styles/globals.css';
---

<!doctype html>
<html lang="sv">
  <Head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- <AstroFont
      config={[
        {
          name: "Micro5",
          src: [
            {
              style: 'bold',
              weight: '700',
              path: 'https://fonts.gstatic.com/s/afacad/v1/6NUK8FKMIQOGaw6wjYT7ZHG_zsBBfvLqagk-80KjZfJ_uw.woff2'
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    /> -->
    <title>{title || 'Tisdagsgolfen'}</title>
  </Head>
  <body>
    <nav>
      <a href="/">2025</a>
      <a href="/2024" target="_blank">2024</a>
      <a href="/2023" target="_blank">2023</a>
      <a href="/2022" target="_blank">2022</a>
      <a href="/2021" target="_blank">2021</a>
      <a href="/2020" target="_blank">2020</a>
      <a href="/2019" target="_blank">2019</a>
      <a href="/2018" target="_blank">2018</a>
      <a href="/2017" target="_blank">2017</a>
      <a href="/2016" target="_blank">2016</a>
      <a href="/2015" target="_blank">2015</a>
      <a href="/2014" target="_blank">2014</a>
      <a href="/2013" target="_blank">2013</a>
      <a href="/2012" target="_blank">2012</a>
    </nav>
    <slot />

    <style>

      *, *:before, *:after {
        box-sizing: inherit;
      }
      nav {
        padding: 8px;
        background: #000;
        color: #fff;
        float: left;
        width: 100%;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-family: Arial;
        padding: 8px;
        float: left;
        background: #222;
        margin: 0 4px 4px;
      }
    </style>
  </body>
</html>
