---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || 'Tisdagsgolfen'}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style lang="scss" is:global>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
  :root {
    --black: #21252a;
    --grey-1: #343a40;
    --grey-2: #495057;
    --grey-3: #868e96;
    --grey-4: #adb5bd;
    --grey-5: #ced4da;
    --grey-6: #dee2e6;
    --grey-7: #e9ecef;
    --grey-8: #f1f3f5;
    --grey-9: #f8f9fa;

    --trans-black: rgba(33, 37, 42, 0.9);

    --tgblue: #1a4996;

    --gold: #ffda65;
    --gold-dark: #a3862c;
    --bronze: #c99355;
    --bronze-dark: #80582c;

    --secondary-color: #e6eef9;
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: rgba(#e6eef9, 0.5);
    line-height: 1.5;
    color: var(--black);
    padding: 0.5rem;
  }

  input,
  select,
  button,
  textarea {
    font: inherit;
    color: inherit;
    outline: 0;
  }

  main.main {
    padding: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    min-height: calc(100vh - 6rem);
  }

  .list {
    width: 100%;
    &__table {
      width: 100%;
      border-spacing: 0;
      color: var(--grey-3);
    }
    &__header {
      padding: 12px 0;
      background: white;
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;
      h1,
      h5 {
        margin: 0;
        padding: 0;
      }
      h5 {
        margin-bottom: 0;
        text-transform: uppercase;
        color: var(--tgblue);
      }
    }
    &__value {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    span {
      padding: 0 8px;

      &:not(:first-of-type) {
        border-left: 1px solid var(--grey-4);
      }

      &:first-of-type {
        padding-left: 0;
      }

      @media screen and (max-width: 400px) {
        width: 100%;
        display: block;
        padding: 4px 0;
        &:not(:first-of-type) {
          border: 0;
        }
      }
    }
    &__meta {
      font-size: 14px;
      opacity: 0.6;
      padding-top: 0.5rem;
    }

    &__total {
      font-size: 20px;
      font-weight: 600;
    }

    &__row {
      background: var(--grey-8);
      color: var(--grey-1);
      &:first-of-type {
        .list__cell:first-of-type {
          background: var(--gold);
          color: var(--gold-dark);
        }
      }
      &:nth-of-type(2) {
        .list__cell:first-of-type {
          background: var(--grey-4);
          color: var(--grey-2);
        }
      }
      &:nth-of-type(3) {
        .list__cell:first-of-type {
          background: var(--bronze);
          color: var(--bronze-dark);
        }
      }

      &:last-of-type {
        border-bottom-right-radius: 0.4rem;
        .list__cell:first-of-type {
          border-bottom-left-radius: 0.4rem;
        }
        .list__cell:last-of-type {
          border-bottom-right-radius: 0.4rem;
        }
      }
    }
    &__cell {
      padding: 1rem;
      &:first-of-type {
        text-align: center;
        padding: 0 8px;
        background: var(--grey-5);
      }
    }
  }
  h2 {
    color: black;
  }

  .skeleton-box {
    background-color: #e2e5e7;
    // The shine that's going to move across the skeleton:
    background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0));
    background-size: 40px 100%; // width of the shine
    background-repeat: no-repeat; // No need to repeat the shine effect
    background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
    animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
    border-radius: 5px;
    min-height: 28px;
  }

  @keyframes shine {
    to {
      // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
      background-position: right -40px top 0;
    }
  }

  .header button {
    color: black;
    border: 0;
    border: 2px solid #ccc;
    cursor: pointer;
  }

  .tabs {
    display: flex;
    width: 220px;
    margin: 8px 0;
    justify-content: space-between;
    position: relative;
    background-color: #eee;
    padding: 0.5rem;
    border-radius: 4px; // just a high number to create pill effect
    * {
      z-index: 2;
    }
  }

  input[type='radio'] {
    display: none;
  }

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 100px;
    font-weight: 600;
    border-radius: 4px; // just a high number to create pill effect
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  input[type='radio'] {
    &:checked {
      & + label {
        color: var(--grey-9);
      }
    }
  }

  input[id='points'] {
    &:checked {
      & ~ .glider {
        transform: translateX(0);
      }
    }
  }

  input[id='fines'] {
    &:checked {
      & ~ .glider {
        transform: translateX(100%);
      }
    }
  }

  .glider {
    position: absolute;
    display: flex;
    height: 32px;
    width: 100px;
    background-color: var(--tgblue);
    z-index: 1;
    border-radius: 6px; // just a high number to create pill effect
    transition: 0.25s ease-out;
  }
</style>
